---
title: Bottr: Docs
---
<div class="row">
    <div>
        <h1>Docs</h1>
        <h2>Getting Started</h2>
        <ul>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
        </ul>
        <h2>Core Concepts</h2>
        <ul>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
        </ul>
        <h2>Clients</h2>
        <ul>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
            <li><%= link_to 'Installation', '/docs/installation.html' =%></li>
        </ul>
    </div>
    <div class="content">

    </div>
</div>
